<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row pad-left-right">
        <span class="pull-left title">Songs</span>
        <a class="btn btn-success pull-right" [routerLink]="['new']">Add Song</a>
      </div>
    </div>
    <div class="panel-body">
      <div class="center-panel">
        <app-song-item
          *ngFor="let song of songsList, let i = index"
          [song]="song"
          [index]="i"
        ></app-song-item>
        <!-- you need the clickable part to be done by index, otherwise all the box is blue. -->
        <!-- <app-song-item
          *ngFor="let song of songsList, let id = {{song.id}}"
          [song]="song"
          [id]="id"
        ></app-song-item> -->
      </div>
    </div>    
  </div>