.list-group-item:hover {
    background-color: #CCDB38;
}

.list-group-item:focus {
    background-color: #56DAC2;
    border: grey solid 1px;
}

.list-group-item:active {
    background-color: #F57D7C;
}
