.song-detail {
    padding: 10px;
    width: 662px;
}

.song-title-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.song-title-section h4, h5 {
    margin: 0;
}

.song-buttons .btn {
    margin: 0px 0 0 10px;
}

.add-comment-btn {
    margin: 10px 0;
}

.btn-success {
background-color: #56DAC2;
color: #616161;
font-weight: 500;
}

.btn-success:hover {
background-color: #CCDB38;
}

.btn-danger {
    background-color: #F57D7C;
    /* color: #b4b4b4; */
    font-weight: 500;
}

.btn-danger:hover {
    background-color: grey;
    color: #F57D7C;
}