<div class="panel panel-default">
    <div class="panel-body">
  
      <form id="book-edit" #b="ngForm" (ngSubmit)="onSubmitBook(b)">
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="title">Book Title:</label>
            <input
              type="text"
              id="title"
              name="title"
              [ngModel]="book?.title"
              class="form-control"
              size="120"
              max="120"
              required
              #title="ngModel">
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="author">Author:</label>
            <input
              type="text"
              id="author"
              name="author"
              [ngModel]="book?.author"
              class="form-control"
              size="120"
              max="255"
              required
              #author="ngModel"
            >
            <!-- <select name="author" id="author">
              <option
                *ngFor="author of authorList, let i = index"
                value="{{ author.id }}"
                [ngModel]="{{ bookAuthor }}"
                #author="ngModel"
              >{{ bookAuthor }}</option>
            </select> -->

          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="genre">Genre:</label>
            <input
              type="text"
              id="genre"
              name="genre"
              [ngModel]="book?.genre"
              class="form-control"
              size="120"
              max="255"
              required
              #genre="ngModel"
            >
          </div>
        </div>

  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="imgURL">Image URL:</label>
            <input
              type="text"
              id="imgURL"
              name="imgURL"
              [ngModel]="book?.imgURL"
              class="form-control"
              size="150"
              max="255"
              required
              #imgURL="ngModel">
              
          </div>
        </div>

          
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="myReview">Julie's Review:</label>
            <input
              type="text"
              id="myReview"
              name="myReview"
              [ngModel]="book?.myReview"
              class="form-control"
              size="120"
              max="255"
              #myReview="ngModel"
            >
            <div class="alert alert-danger" *ngIf="!title.valid || !genre.valid || !author.valid|| !imgURL.valid">
              book Title, Author, Genre, and Image URL are required fields.
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-xs-12 btn-toolbar">
            <button class="btn btn-success" type="submit" [disabled]="!b.valid">Save</button>
            <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
  
      </form>
  
    </div>
  </div>
  
  