<div class="panel panel-default">
    <div class="panel-body">
        
        <h1>Login</h1>
        
        <form id="login-form" #lf="ngForm" (ngSubmit)="onSubmit(lf)">
            <div>
                <input 
                type="text" 
                id="email"
                name="email" 
                class="form-control"
                required
                placeholder="Email" 
                />
            </div>
            <div>
                <input 
                type="password" 
                id="password"
                name="password"
                class="form-control"
                required 
                placeholder="Password" 
                />
            </div>
            <div>
                <button class="btn btn-success" type="submit">Sign In</button>
            </div>
        </form>
        
    </div>
</div>