
button {
    background-color: #56DAC2;
    position: absolute;
    right: 20px;
    top: 20px;
}
button:hover {
    background-color: #CCDB38;
}
button:active {
    background-color: #F57D7C;
}