<div class="panel panel-default">
    <div class="panel-body">
  
      <form id="song-edit" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="title">Song Title:</label>
            <input
              type="text"
              id="title"
              name="title"
              [ngModel]="song?.title"
              class="form-control"
              size="120"
              max="120"
              required
              #title="ngModel">
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="artist">Artist:</label>
            <input
              type="text"
              id="artist"
              name="artist"
              [ngModel]="song?.artist"
              class="form-control"
              size="120"
              max="255"
              required
              #artist="ngModel"
            >
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="ytLink">YouTube Key:</label>
            <input
              type="text"
              id="ytLink"
              name="ytLink"
              [ngModel]="song?.ytLink"
              class="form-control"
              size="150"
              max="255"
              required
              #ytLink="ngModel">
              <div class="alert alert-danger" *ngIf="!title.valid || !artist.valid|| !ytLink.valid">
                Song Title, Artist, and YouTube Key are required fields.
              </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-xs-12 btn-toolbar">
            <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
            <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
  
      </form>
  
    </div>
  </div>
  
  