<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading">
        <div class="row pad-all">
        <h4 class="title margin-left-right">{{book.title}}</h4>
        <div class="row pull-right margin-left-right">
            <!-- <a class="btn btn-primary" (click)="onView()">View</a> -->
            <a class="btn btn-info" [routerLink]="['edit']">Edit</a>
            <a class="btn btn-danger" (click)="onDelete()">Delete</a>
        </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="pad-left-right">
        <div class="row">
            <label>Author:</label>
            <span class="label-value">{{ book.author }}</span>
            <label>Genre:</label>
            <span class="label-value">{{ book.genre }}</span>
        </div>
        <br>
        <div class="row">
            <label>Cover:</label>
            <!-- <span class="label-value">{{ book.url }}</span> -->
            <img src="{{book.imgURL}}">
        </div>
        <div class="row">
            <label>Julie's Thoughts:</label>
            <span class="label-value">{{ book.myReview }}</span>
        </div>
        </div>
    </div>
    </div>
    
    