<a 
  class="list-group-item clearfix" 
  style="cursor: pointer;"
  [routerLink]="[book.id]"
  routerLinkActive="active"
>
    <!-- Display book name here -->
    <!-- the items are now linked by book.id and not index! -->
    <!-- {{ book.title }} -->
    <!-- {{ author.name }} &nbsp; &nbsp;&nbsp;  | &nbsp;&nbsp;&nbsp;   {{ book.title }} -->
    <!-- {{ bookAuthor }} &nbsp; &nbsp;&nbsp;  | &nbsp;&nbsp;&nbsp;   {{ book.title }}  -->
    {{ book.author }} &nbsp; &nbsp;&nbsp;  | &nbsp;&nbsp;&nbsp;   {{ book.title }} 
    <!-- {{ bookAuthor }} &nbsp; &nbsp;&nbsp;  | &nbsp;&nbsp;&nbsp;   {{ book.title }} | {{book.id}} -->
  </a>